<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carosello News</title>
    <link rel="stylesheet" href="vuestyle.css">
</head>
<body>
   <div class="container" id="container_app">
        <div class="items">
            
            <div v-for="(elemento, indice) in immagini" class="item" :class="{active: contatore == indice ? true : false}">
                <img :src="elemento.img" alt="">
                <div class="text"> 
                    <h3>{{elemento.title}}</h3>
                    <p>{{elemento.text}}</p>
                </div>
            </div> 
            
        </div>
        <div class="thumbs">
            
            <div v-for="(elemento, indice) in immagini" class="thumb" :class="{active: contatore == indice ? true : false}">
                <img :src="elemento.img" alt="">
            </div> 
            
            <div class="prev" @click="prev"></div>
            <div class="next" @click="next"></div>
        </div>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script src="vuemain.js"></script>
</body>
</html>